*{
    margin: 0;
    padding: 0;
}
#nav-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0rem;
}
#nav-header > div > a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1rem;
}
#logo-empresa{
    height: 4rem;
}
#main{
    background-color: #4B574F;
}

/* #wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: auto;
    max-width:fit-content;
    padding: 1rem;
    margin: 1rem;
    column-gap: 2rem;
} */

#wrapper > div > h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-justify:distribute-all-lines;
}
#wrapper > div >p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0rem 1rem;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#textos{
    /* background-color: aqua; */
    padding: 1rem;
    flex-basis: 20rem;
    flex-grow: 999;
    
}
#jumbotronimg{
    flex-basis: 0rem;
    flex-grow: 1;
    padding: 1rem;
    min-width: 60%;
    /* text-align: center; */
    /* background-color: blueviolet; */

    
} 
#jumbotronimg > img{
    /* display: inline-block; */
    max-width: 700px;  
}
/* #jumbotronimg{
    width: 100%;
    display: inline-block;
    max-width: 30rem;
    height: auto;
} */

@media screen and (max-width: 550px) {
    #nav-header {
        display: grid;
        text-align: center;
        float: none;
        margin: 0rem;
        row-gap: 0.5rem;

    }
    #nav-header > div > a {
        font-size: 0.75rem;
    }
    #logo-empresa{
        height: 3rem;
    }
    /* #wrapper{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
        margin: 1rem;
        column-gap: 2rem;
    }
    #wrapper > div{
        text-align: center;
    }
    #wrapper > div > h1{
        font-size:larger;
    } */

}
@media screen and (max-width: 720px) {
    #nav-header {
        display: grid;
        text-align: center;
        float: none;
        margin: 1rem;
        row-gap: 0.5rem;

    }
    #jumbotronimg > img{
        width: 100%;
        max-width: 650px; 
        height: auto;
        margin-right: 1rem;
        text-align: center;

    }

} 

#h1portafolio{
   text-align: center;
   padding: 1rem;
}
#pportafolio{
    text-align: center;
    padding: 1rem;
 }


.container-img{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    /* margin-top: 60px; */
    margin-bottom: 60px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
        "a b e c"
        "d d f f"
        "g h f f"
    ;
}
#a1{
    grid-area: a;
}
#a2{
    grid-area: b;
}
#a3{
    grid-area: c;
}
#a4{
    grid-area: d;
}
#a5{
    grid-area: e;
}
#a6{
    grid-area: f;
}
#a7{
    grid-area: g;
}
#a8{
    grid-area: h;
}


.container-img .box-img figure{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
